@page "/"
@using AzureSQLTest.Data

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@inject ApplicationDbContext db;
@inject IBioWeaponable BioWeaponService;
<h3>Lobotomy Bioweapons</h3>
<table class="table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Cost
			</th>
			<th>
				Grade
			</th>
			<th>
				Attack Type
			</th>
			<th>
				Attack Damage
			</th>
			<th>
				Attack Speed
			</th>
			<th>
				Range
			</th>
			<th>
				Description
			</th>
		</tr>
	</thead>
	<tbody>

	@foreach (var w in Weapons)
	{
		<tr>
			<td>Name: @w.Weapon_Name</td>
			<td>Cost: @w.Cost</td>
			<td>Grade: @w.Grade</td>
			<td>Attack type: @w.Attack_Type</td>
			<td>Attack Damage: @w.Attack_Damage</td>
			<td>Attack Speed: @w.Attack_Speed</td>
			<td>Range: @w.Weapon_Range</td>
			<td>Description: @w.Weapon_Description</td>
		</tr>
	}
	</tbody>

</table>

@code {
	//private ApplicationDbContext Context { get; set; }
	private List<BioWeapon>? Weapons;

	protected override void OnInitialized()
	{
		Weapons = BioWeaponService.GetBioWeapons();
	}
}