@page "/"
@using AzureSQLTest.Data
@inject IBioWeaponable BioWeaponService
@* @inject ApplicationDbContext db *@
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h3>Lobotomy Bioweapons</h3>

<EditForm Model="@newWeapon"
		  OnValidSubmit="@AddWeapon"
		  OnInvalidSubmit="InvalidDebug"
		  FormName="NewWeapon">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="form-group">
		<label>Name</label>
		<InputText @bind-Value="@newWeapon.Weapon_Name" class="form-control" />
	</div>
	<div class="form-group">
		<label>Cost</label>
		<InputNumber @bind-Value="@newWeapon.Cost" class="form-control" />
	</div>
	<div class="form-group">
		<label>Grade</label>
		<InputNumber @bind-Value="@newWeapon.Grade" class="form-control" />
	</div>
	<div class="form-group">
		<label>Attack Type</label>
		<InputText @bind-Value="@newWeapon.Attack_Type" class="form-control" />
	</div>
	<div class="form-group">
		<label>Attack Damage</label>
		<InputNumber @bind-Value="@newWeapon.Attack_Damage" class="form-control" />
	</div>
	<div class="form-group">
		<label>Attack Speed</label>
		<InputText @bind-Value="@newWeapon.Attack_Speed" class="form-control" />
	</div>
	<div class="form-group">
		<label>Range</label>
		<InputText @bind-Value="@newWeapon.Weapon_Range" class="form-control" />
	</div>
	<div class="form-group">
		<label>Description</label>
		<InputTextArea @bind-Value="@newWeapon.Weapon_Description" class="form-control" />
	</div>

	<button type="submit" class="btn btn-primary">Add Weapon</button>
</EditForm>
<table class="table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Cost
			</th>
			<th>
				Grade
			</th>
			<th>
				Attack Type
			</th>
			<th>
				Attack Damage
			</th>
			<th>
				Attack Speed
			</th>
			<th>
				Range
			</th>
			<th>
				Description
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		@foreach (var w in Weapons)
		{
			<AzureSQLTest.Components.Subs.WeaponDisplay Weapon="w" OnDelete="OnDeleteClick" />
		}
	</tbody>

</table>

@code {
	//private ApplicationDbContext Context { get; set; }
	private List<BioWeapon>? Weapons;
	private BioWeapon newWeapon = new BioWeapon();
	private void AddWeapon()
	{
		BioWeaponService.AddBioWeapon(newWeapon);
		Weapons = BioWeaponService.GetBioWeapons();
		newWeapon = new BioWeapon();
		//editContext = new EditContext(newWeapon);
		StateHasChanged();
	}

	private void InvalidDebug(EditContext editContext)
	{
		var test = editContext;
		Console.WriteLine("Invalid form submission");
	}
	protected override void OnInitialized()
	{
		Weapons = BioWeaponService.GetBioWeapons();
	}


	public void OnDeleteClick(int id)
	{
		// Parent handles deletion and refreshes its list
		var delWeapon = BioWeaponService.GetBioWeapons().FirstOrDefault(w =>w.Id ==id);
		if (delWeapon != null)
		{
			BioWeaponService.DeleteBioWeapon(id);
			//videogamesToDisplay = BioWeaponService.GetAllGames().ToList();
		}
		StateHasChanged();
	}
}